<div>
    <div class="max-w-2xl">
        <h1 class="text-center text-3xl my-3">{{header_1}}</h1>
        <h2 class="text-center text-lg md:text-2xl">{{header_2}}</h2>
        
    </div>
    
    <div class="mt-6 flex flex-wrap justify-center items-center">
        <div class="h-3 w-3 m-2 bg-blue-950 rounded-full"> </div>
        <div class="h-3 w-3 m-2 bg-blue-950 rounded-full"> </div>
        <div class="h-3 w-3 m-2 bg-blue-950 rounded-full"> </div>
    </div>
    
    
    <div class="w-fit m-auto p-3 border-l-4 border-gray-300 italic text-gray-500">
        <p class="mb-2">{{comment_item_1}}</p>
        <p>{{comment_item_2}}</p>
    </div>
    
    <div>
        <div class='mb-6'>
            <button 
                type="button" 
                onclick="openForm()"
                class="hidden my-9 rounded-md bg-blue-900 px-10 py-2 text-white cursor-pointer text-center block ax-w-md m-auto applyBtn slg:block"
            >{{apply_btn}}</button>
        </div>
    </div>
    
    <div class="m-6">
        <h3 class="font-semibold text-xl md:text-2xl">{{req_title}}</h3>
        <ul>
            <li class="my-2 p-2 bg-[#E0E2EA] rounded-xl shadow">{{req_item1_1}}</li>
            <li class="my-2 p-2 bg-[#E0E2EA] rounded-xl shadow">{{req_item1_2}}</li>
            <li class="my-2 p-2 bg-[#E0E2EA] rounded-xl shadow">{{req_item1_3}}</li>
        </ul>
    </div>
    
    <div class="m-6">
        <h3 class="font-semibold text-xl md:text-2xl">{{feature_title}}</h3>
        <ul class="pb-6">
            <li class="my-2 p-2 bg-[#E0E2EA] rounded-xl shadow">{{feature_item_1}}</li>
            <li class="my-2 p-2 bg-[#E0E2EA] rounded-xl shadow">{{feature_item_2}}</li>
            <li class="my-2 p-2 bg-[#E0E2EA] rounded-xl shadow">{{feature_item_3}}</li>
        </ul>
    </div>
    
</div>