<div class="h-fit">
    <img class="m-auto" src="../static/img/success-modal.jpg" alt="">
</div>

<div class="mt-12">
    <h1 class="text-2xl text-blue-950 text-center">All done!</h1>
</div>

<div class="mt-6 flex flex-wrap justify-center items-center">
    <div class="h-3 w-3 m-2 bg-blue-950 rounded-full"> </div>
    <div class="h-3 w-3 m-2 bg-blue-950 rounded-full"> </div>
    <div class="h-3 w-3 m-2 bg-blue-950 rounded-full"> </div>
</div>

<div class="mt-9">
    <p class="text-md italic text-gray-500 text-center">Our managers will rich to you very soon )</p>
</div>