<h1 class="text-2xl font-bold text-center p-6 tracking-widest md:text-3xl">
    {{form_header}}
</h1>
<div class="mt-12">
    <div class="m-auto">
        <div class="relative z-0 my-6" id='full_name'>
            <input id='name-input' type="text" required name="full_name" class="main-form-item mt-3 peer block w-full appearance-none border-0 border-b border-gray-500 bg-transparent py-2.5 px-0 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0" placeholder=" " />
            <label class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:dark:text-blue-500">
                {{full_name}}
            </label>
        </div>
        <div class="relative z-0 my-6" id='email'>
            <input id='email-input' type="text" onfocus="this.placeholder = 'example@gmail.com'" onblur="this.placeholder = ''" required name="email" class="main-form-item mt- peer block w-full appearance-none border-0 border-b border-gray-500 bg-transparent py-3 px-0 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0" placeholder=" " />
            <label class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:dark:text-blue-500">
                {{email}}
            </label>

        </div>
        <div class="relative z-0 col-span-2 my-6" id='phone_number'>
            <input id='number' type="text" onfocus="this.placeholder = '+955512345678'" onblur="this.placeholder = ''" required name="phone" class="main-form-item mt-3 peer block w-full appearance-none border-0 border-b border-gray-500 bg-transparent py-3 px-0 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0" placeholder=" " />
            <label class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:dark:text-blue-500">
                {{phone}}
            </label>
        </div>
    </div>  
    <div class="">
        <a id="errorMessage" onclick='showDesc()' class="text-red-500 text-center font-semibold text-sm italic hidden"></a>
    </div>
    <div>
        <div class='mb-6'>
            <button type="submit" id='applyFormBtn' disabled onclick="applyForm()" class="my-9 rounded-md bg-blue-950 px-10 py-2 text-white cursor-pointer text-center block w-full disabled:text-slate-200 disabled:bg-slate-500">{{apply_btn}}</button>
        </div>
    </div>
    <div class="flex justify-center">
        <a id="showDesc" onclick='showDesc()' class="text-gray-500 text-sm italic text-center hidden">{{show_desc}}</a>
    </div>
</div>