<div class="max-w-2xl">
    <h1 class="text-center text-3xl my-3">ЗАЙМЫ ПО ВСЕЙ ГРУЗИИ</h1>
    <h2 class="text-center text-lg md:text-2xl">ДЕНЬГИ ОТ ЧАСТНОГО ИНВЕСТОРА ПОД ЗАЛОГ НЕДВИЖИМОСТИ И АВТОТРАНСПОРТНОГО СРЕДСТВА</h2>
    
</div>

<div class="mt-6 flex flex-wrap justify-center items-center">
    <div class="h-3 w-3 m-2 bg-blue-950 rounded-full"> </div>
    <div class="h-3 w-3 m-2 bg-blue-950 rounded-full"> </div>
    <div class="h-3 w-3 m-2 bg-blue-950 rounded-full"> </div>
</div>


<div class="w-fit m-3 p-3 border-l-4 border-gray-300 italic text-gray-500">
    <p class="mb-2">Быстрое принятие решения, консультация и полное юридическое сопровождение.</p>
    <p> Условия по кредитованию и сумма устанавливаются индивидуально</p>
</div>

<div>
    <div class='mb-6'>
        <button 
            type="button" 
            onclick="openForm()" 
            data-modal-toggle="applyForm" 
            class="hidden my-9 rounded-md bg-blue-900 px-10 py-2 text-white cursor-pointer text-center block ax-w-md m-auto applyBtn slg:block"
        >Apply</button>
    </div>
</div>

<div class="m-6">
    <h3 class="font-semibold text-xl md:text-2xl">Документы для рассмотрения:</h3>
    <ul>
        <li class="my-2 p-2 bg-[#E0E2EA] rounded-xl shadow">право собственности ( обновленная выписка из реестра / техпаспорт)</li>
        <li class="my-2 p-2 bg-[#E0E2EA] rounded-xl shadow">паспорт гражданина Грузиsи, для иностранных граждан- загран паспорт</li>
        <li class="my-2 p-2 bg-[#E0E2EA] rounded-xl shadow">фотографии</li>
    </ul>
</div>

<div class="m-6">
    <h3 class="font-semibold text-xl md:text-2xl">Низкий ежемесячный процент:</h3>
    <ul class="pb-6">
        <li class="my-2 p-2 bg-[#E0E2EA] rounded-xl shadow">Выплачиваем до 50% от рыночной стоимости залога</li>
        <li class="my-2 p-2 bg-[#E0E2EA] rounded-xl shadow">Срок пользования - до 10 лет</li>
        <li class="my-2 p-2 bg-[#E0E2EA] rounded-xl shadow">Простое и быстрое оформление. Регистрация в Едином Государственном Реестре.</li>
    </ul>
</div>
